body {
	height: 100%;
	width: 100%;
	background-color: #e5e5e5;
}
.miniHeader {
	margin: 0;
	padding: 10px;
	background-color: #01370c;
	color: white;
	font-size: 1em;
	text-align: center;
	width: 100%;
}
.navMenu {
	padding: 13.33px 10px;
	font-size: 1.2rem;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: space-around;
}
.navbarImg img {
	margin-left: 0.5em;
}
.navbarImg {
	transition: transform 0.3s ease;
}
.navbarImg:hover {
	transform: scale(1.1);
}
.navMenu div:hover {
	color: #3b823e;
}
.cart-user {
	width: 7.5%;
	display: flex;
	gap: 0.8em;
	justify-content: space-between;
}
.cart-user img {
	padding: 0 10px;
}
.searchInput {
	border-radius: 10px;
	border-color: black;
	padding: 7px;
	color: #01370c;
	font-size: 1rem;
	background: url("/assets/Home/small/search_black_24dp\ 1.svg");
	background-repeat: no-repeat;
	background-position: right;
}
.searchInput:focus,
.searchInput:active {
	border-radius: 10px;
	border-color: black;
	padding: 7px;
	font-size: 1rem;
	background: none;
}
.heroBanner img {
	height: 320px;
	width: 100%;
	margin-bottom: 30px;
	/* background: url("/assets/Home/big/Hero Banner.png");
	background-position: center;
	background-repeat: no-repeat; */
}
.plantCatagories {
	margin: 0px 90px;
}
.seeAll {
	margin-right: 40px;
	margin-bottom: 10px;
	text-align: end;
}
.seeAll:hover {
	color: #3b823e;
}
.seeAll img {
	height: 12px;
	width: 12px;
}
.Catagories {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 90px;
}
.Catagories img {
	height: 180px;
	width: 180px;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}
.CatagoriesImg:hover img {
	transform: scale(1.1);
}
.Catagories div {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: 2px;
}
/* ///////////////////////////////////////////////////////// */
.hoverButton {
	transition: transform 0.3s ease;
}
.hoverButton:hover {
	transform: scale(1.05);
}
.bestSelling,
.trendingPlantsSection,
.hotSaleSection,
.plantersSection {
	margin-bottom: 90px;
}
.bestSellingText,
.trendingPlantsText,
.hotSaleText,
.plantersText,
.celebsText {
	text-align: center;
	font-size: 3em;
	font-family: "Unna", sans-serif;
}
.UnderlineBestSellingText,
.UnderlinetrendingPlantsText,
.UnderlinehotSaleText,
.UnderlinePlantersText,
.UnderlineCelebsText {
	width: 15%;
	align-items: end;
	color: black;
	margin-bottom: 30px;
}
.CardsBestSelling,
.trendingPlants,
.hotSale,
.planters {
	margin: 0% 5%;
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.CardsBestSelling div,
.trendingPlants div,
.hotSale div,
.planters div {
	border-radius: 10px;
}
.CardFrame,
.trendingPlantsFrame,
.hotSaleFrame,
.bestSellingFrame,
.plantersFrame {
	display: flex;
	flex-direction: column;
	box-shadow: black;
	background-color: white;
	padding: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.trendingPlantsFrame,
.hotSaleFrame,
.plantersFrame {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.CardFrame img {
	height: 318px;
	width: 344px;
	margin-bottom: 1em;
}
.CardFrame button {
	color: white;
	background-color: #3b823e;
	font-weight: 500;
	padding: 1em;
	border: none;
	border-radius: 10px;
	font-size: 1.2em;
}
.trendingPlantsFrame img,
.hotSaleFrame img,
.plantersFrame img {
	height: 176px;
	width: 242px;
	margin-bottom: 1em;
}
.trendingPlantsFrame button,
.hotSaleFrame button,
.plantersFrame button {
	margin-top: 1em;
	color: white;
	background-color: #3b823e;
	font-weight: 500;
	padding: 1em;
	border: none;
	border-radius: 10px;
	font-size: 1em;
}
.hotSaleFrameSpan,
.plantersSpan {
	color: #d11f1f;
	text-decoration: line-through;
	font-size: 0.9em;
}
.starImg {
	position: absolute;
	background: url("/assets/Home/small/Star\ 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 3em;
	width: 3em;
	color: white;
	line-height: 0;
	padding: 5px;
	text-align: center;
	align-self: flex-end;
	margin: 0.7% 0.5%;
}
/* /////////////////////////////////////// */
.landscape {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 5%;
	margin-bottom: 90px;
}
.landscapeText {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.landscape h2 {
	font-size: 3em;
	font-family: "Unna", sans-serif;
	text-align: left;
	font-weight: 600;
	margin: 0;
}
.landscape hr {
	width: 33%;
	margin-left: 0%;
}
.landscape p {
	font-size: 1.25em;
	font-family: "Open Sans", sans-serif;
}
.landscapeRedText {
	font-size: 1em;
	font-style: italic;
	color: #d11f1f;
}
.landscape button {
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
	color: white;
	background-color: #3b823e;
	border: none;
	border-radius: 5px;
	padding: 1em 5em;
	align-self: baseline;
}
/* ////////////////////////////////////////////// */
.celebs {
	margin: 0 5%;
	margin-bottom: 120px;
}
.celebsGrid1,
.celebsGrid2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.celebsGrid1 img {
	height: 310px;
	width: 285px;
}
.celebsGrid2 img {
	height: 310px;
	width: 387px;
}
/* /////////////////////////////////////////////////// */
.footer {
	background-color: #3b823e;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 5%;
	gap: 10px;
}
.footerFrame1 {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
	line-height: 2em;
}
.footerFrame2 {
	display: flex;
	gap: 40px;
}
.ff2Text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.links {
	display: flex;
	gap: 1em;
}
.minifooter {
	color: white;
	background-color: #01370c;
	text-align: center;
	font-size: 1em;
	padding: 1rem;
}
